aiodns==3.0.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
brotlipy==0.7.0
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
discord.py==1.7.3
Flask==2.1.1
geojson==2.5.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
multidict==6.0.2
pycares==4.1.2
pycparser==2.21
pyowm==3.3.0
PySocks==1.7.1
requests==2.27.1
tb==0.1
telebot==0.0.4
typing_extensions==4.0.1
urllib3==1.26.9
Werkzeug==2.1.1
yarl==1.7.2
zipp==3.8.0
